.main {
    width: 85%;
    text-align: center;
    margin: auto;
}
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}
.red {
    color: brown;
}
img {
    width: 300px;
    box-shadow: 5px 5px 5px brown;
    margin-top: 3%;
}
video {
    margin-top: 3%;
}
